.dub
docs.json
__dummy.html
docs/
data/split/
*.nes
__pycache__/
*.sav
/earthbound_beginnings
earthbound_beginnings.so
earthbound_beginnings.dylib
earthbound_beginnings.dll
earthbound_beginnings.a
earthbound_beginnings.lib
earthbound_beginnings-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
dub.selections.json
*.dll
settings.yaml
dump/
.vs
*.planet
